@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
* {
  font-family: 'Source Sans Pro', serif;
}

::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link, a:visited {
  color: black;
}

header {
  background-image: url(../images/shapka.jpg);
  text-shadow: black 2px 2px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em 0;
  height: 30px;
}

li, a {
  text-decoration: none;
  font-weight: 1200px;
  font-size: 16px;
  list-style-type: none;
  /* Убираем маркеры */
}

h1 {
  font-family: 'Lora', serif;
}

.Nickname {
  margin-top: -20px;
  text-align: center;
  float: left;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Navigate_Blocks {
  list-style: none;
}

.Navigate_Blocks li {
  list-style-type: none;
  /* Убираем маркеры */
  color: #edf0f1;
  display: inline-block;
  padding: 20px 40px;
}

body {
  background-color: #dcdcdc;
}

article {
  padding: 20px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7fr;
      grid-template-columns: 1fr 7fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
}

.my_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 75%;
  /* Радиус скругления */
  border-color: black;
  border-style: solid;
  border-width: 3px;
  margin-left: auto;
  margin-right: auto;
}

.image_links_name {
  background-color: #f0f0f0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.main_text {
  height: auto;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.image_links_name3_a:hover {
  color: blue;
}

.image_links_github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

.image_links_github:hover {
  color: blue;
}

.Hard_skills li, .Soft_skills li {
  list-style-type: circle;
}

.bx {
  font-size: 25px;
}

@media (max-width: 600px) {
  .container {
    max-width: 600px;
  }
  .second_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 20px;
  }
}

@media (max-width: 400px) {
  header {
    height: 55px;
  }
  .container {
    max-width: none;
  }
  .second_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 20px;
  }
}
/*# sourceMappingURL=style.css.map */